/* 
 * Modifications for the main GR's page overriding GRstrap. 
 * For more mods please read the GRstrap documentation.  
 */

/* Header */
header a.brand {
	width: 250px; 
	height: 75px;
}
header #searchbox {margin-top: 10px;}
header .navbar-form button {
	border: none;
	background: transparent !important;
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 9;
	padding: 7px 15px 3px 15px;
	font-size: 16px;
	color: #aaa;
	box-shadow: none !important;
}
header .navbar-form button {
    padding: 30px 12px 0px 5px;
    font-size: 24px !important;
    line-height: 32px;
}